/* -------------------------------------------

frame

------------------------------------------- */
.mil-frame {
	margin        : 10px;
	pointer-events: none;
	position      : fixed;
	z-index       : 999;
	top           : 0;
	left          : 0;
	right         : 0;
	width         : calc(100% - 20px);
	height        : calc(100% - 20px);

	&:before,
	&:after {
		content : '';
		position: absolute;
		left    : 7px;
		right   : -7px;
		top     : 7px;
		bottom  : -7px;
		border  : 2px solid $soft;
	}

	&:after {
		border: 2px solid $black;
		left  : 0;
		top   : 0;
		right : 0;
		bottom: 0;
	}

	@media screen and (max-width: 1200px) {
		margin: 0 10px;
		height: 100%;
	}

	@media screen and (min-width: 1600px) {
		margin: 15px;
		width : calc(100% - 30px);
		height: calc(100% - 30px);
	}
}