/* -------------------------------------------

reviews

------------------------------------------- */
.mil-client {
	width         : 100%;
	padding-bottom: 100%;
	position      : relative;

	&::after {
		content : "";
		position: absolute;
		left    : 12px;
		top     : 12px;
		right   : -12px;
		bottom  : -12px;
		border  : 2px solid $dark;
	}

	& img {
		position       : absolute;
		top            : 0;
		left           : 0;
		width          : 100%;
		height         : 100%;
		object-fit     : cover;
		object-position: top;
	}

	@media screen and (max-width: 1200px) {
		width         : 120px;
		padding-bottom: 120px;
		margin-bottom : 40px;
	}
}