/* -------------------------------------------

top panel

------------------------------------------- */
.mil-top-panel {
	pointer-events: all;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	transition: $tr;
	transition-delay: 0s;

	&.mil-tp-inner {
		background: $light;

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: -20px;
			height: 20px;
			background: $light;
			z-index: -1;
		}

		&::after {
			top: auto;
			bottom: -20px;
		}
	}

	&.mil-active {
		transition-delay: 0.6s;
	}

	.mil-tp-frame {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.mil-logo {
		position: relative;
		margin-top: 2px;
		width: 180px;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		line-height: 16px;
		text-shadow: 5px 5px 0 $soft;
		color: $dark;
		font-weight: 700;
		text-decoration: none;
		font-size: 32px;

		img {
			width: 100%;
		}
	}

	nav {
		position: relative;
		border-bottom: solid 2px $black;
		padding: 0 40px 0 30px;

		&::after {
			content: "";
			position: absolute;
			left: 7px;
			bottom: -9px;
			right: -5px;
			border-bottom: 2px solid $soft;
		}

		ul {
			display: flex;

			li {
				position: relative;
				height: 80px;
				list-style-type: none;
				margin-right: 40px;
				display: flex;
				align-items: center;

				&:last-child {
					margin-right: 0;
				}

				a {
					text-decoration: none;
					color: inherit;
					font-size: 14px;
					font-weight: 700;
					text-transform: uppercase;
					white-space: nowrap;
					transition: $tr;

					&:hover {
						color: $accent;
					}
				}

				&.mil-active {

					a {
						color: $accent;
					}

					&::after {
						content: "";
						display: block;
						position: absolute;
						bottom: 0;
						left: calc(50% - 1px);
						width: 2px;
						height: 10px;
						background-color: $black;
					}
				}

				ul {
					pointer-events: none;
					transform: scale(0.9) translateY(-5px);
					opacity: 0;
					position: absolute;
					top: 80px;
					left: -32px;
					padding: 30px;
					display: flex;
					flex-direction: column;
					border: solid 2px $soft;
					background-color: $light;
					transition: $tr;

					li {
						margin: 0;
						height: auto;
						margin-bottom: 15px;

						&:last-child {
							margin-bottom: 0;
						}
					}
				}

				&:hover {

					ul {
						pointer-events: all;
						opacity: 1;
						transform: scale(1) translateY(0);
					}
				}
			}
		}
	}

	.mil-social {
		position: relative;
		padding: 0 40px;
		border-bottom: solid 2px $black;

		&::after {
			content: "";
			position: absolute;
			left: 9px;
			bottom: -9px;
			right: -5px;
			border-bottom: 2px solid $soft;
		}

		ul {
			display: flex;

			li {
				list-style-type: none;
				margin-right: 25px;
				height: 80px;
				display: flex;
				align-items: center;

				&:last-child {
					margin-right: 0;
				}

				a {
					text-decoration: none;
					color: $dark;
					transition: $tr;
					line-height: 0;

					svg {
						width: 20px;
					}

					&:hover {
						color: $accent;
					}
				}
			}
		}

		@media screen and (max-width: 1200px) {
			display: none;
		}
	}

	&.mil-tp-2 {

		.mil-tp-frame {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;

			@media screen and (max-width: 1200px) {
				justify-content: space-between;
			}
		}

		.mil-logo {
			border-bottom: solid 2px $black;
			border-right: solid 2px $black;

			&::before,
			&::after {
				content: "";
				position: absolute;
				left: 9px;
				right: -9px;
				bottom: -9px;
				border-bottom: solid 2px $soft;
			}

			&::after {
				left: auto;
				top: 8px;
				bottom: -7px;
				border-right: solid 2px $soft;
				border-bottom: none;
			}

			img {
				width: 100%;
			}
		}

		nav {
			padding-left: 40px;
			padding-right: 40px;
			border-top: none;
		}

	}

	@media screen and (max-width: 1200px) {
		background-color: $light;

		&.mil-active {
			background-color: $light;
			box-shadow: 0 20px 20px 0 $light;
			box-shadow: none;
		}

		nav {
			opacity: 0;
			pointer-events: none;
			padding: 30px 0;
			border: none;
			position: absolute;
			background-color: $light;
			top: 90px;
			width: 100%;
			border-bottom: solid 2px $soft;
			transform: scale(0.9) translateY(-5px);
			transition: $tr;

			&.mil-active {
				opacity: 1;
				pointer-events: all;
				transform: scale(1) translateY(0);
			}

			ul {
				flex-direction: column;

				li {
					flex-direction: column;
					height: auto;
					margin-right: 0;
					margin-bottom: 15px;

					&:last-child {
						margin-bottom: 0;
					}

					&.mil-active {

						a {
							color: $accent;
						}

						&::after {
							display: none;
						}
					}

					ul {
						border: none;
						background-color: #f3f3f3;
						padding: 0;
						position: static;
						width: 100%;
						max-height: 0;

						li {

							&:first-child {
								margin-top: 30px;
							}

							&:last-child {
								margin-bottom: 30px;
							}
						}
					}

					&:hover {

						ul {
							max-height: 400px;
							margin-top: 15px;
						}
					}
				}
			}
		}
	}
}
