.section-image-content-cta-alt {

	.mil-about-person-2 .mil-avatar {
		border: 7px solid var(--accent-color);
		margin: 0 auto;
		display: none;

		@media screen and (min-width: 1200px) {
			display: block;
		}
	}
}
