/*Reseting Editor Styles - Start */
.components-button svg path {
	fill: currentColor !important;
}

.wp-block {
	max-width: initial;
}

.wp-block h1,
.wp-block h2,
.wp-block .mil-icon-box .mil-text-icon {
	color: var(--gray-color) !important;
}

.wp-block .cf-block__fields {
	padding: 0 100px;
}

.wp-block .cf-block__preview {
	padding         : 100px 0;
	background-color: var(--light-color);
}

.wp-block .mil-bg-item {
	display: none !important;
}

/* Blocks styles - Start */

/* Exprience Block - Start */
.section-experience .swiper-wrapper {
	display  : flex;
	flex-wrap: wrap;
}

.section-experience .swiper-wrapper .swiper-slide {
	width: 22%;
}

/* Exprience Block - End */

/* Blocks styles - End */

/*Reseting Editor Styles - End */