/* -------------------------------------------

Name: Treto
Version: 1.0
Developer: MillerDigitalDesign
Author:	bslthemes (https://bslthemes.com)

------------------------------------------- */

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

@import "./base/variables";
@import "./base/common";

/* ------------------------------------------------------------ *\
	Components
\* ------------------------------------------------------------ */

@import "./components/frame";
@import "./components/page";
@import "./components/pagination";
@import "./components/top-panel";
@import "./components/social-panel";
@import "./components/footer";
@import "./components/menu-button";
@import "./components/banner";
@import "./components/about";
@import "./components/skills";
@import "./components/iconbox";
@import "./components/experience";
@import "./components/reviews";
@import "./components/blog";
@import "./components/price";
@import "./components/call-to-action";
@import "./components/comments";
@import "./components/portfolio";
@import "./components/contact";

/* ------------------------------------------------------------ *\
	Utilities
\* ------------------------------------------------------------ */

@import "./utilities/accessibility";
@import "./utilities//alignments";

/* ------------------------------------------------------------ *\
	Sections
\* ------------------------------------------------------------ */

@import "./sections/section-education";
@import "./sections/section-contact";

/* ------------------------------------------------------------ *\
	Pages
\* ------------------------------------------------------------ */

@import './pages/single-projects';
@import './pages/contact';